html {
  background-color: black; }

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background-blend-mode: multiply;
  animation: inherit;
  animation-duration: 17s; }

body.animate {
  animation: spazz 7s steps(1) infinite; }

@keyframes spazz {
  3% {
    -webkit-filter:  hue-rotate(234deg);
    background-color: #ff66d9;
    transform: translate(2px, -7px) scale(1.17); }
  4% {
    -webkit-filter:  hue-rotate(241.2deg);
    background-color: #ff66bf;
    transform: translate(8px, 14px) scale(1.08); }
  5% {
    -webkit-filter:  hue-rotate(169.2deg);
    background-color: #66a3ff;
    transform: translate(-9px, -14px) scale(1.1); }
  9% {
    -webkit-filter:  hue-rotate(158.4deg);
    background-color: #ff669c;
    transform: translate(8px, 6px) scale(1.25); }
  11% {
    -webkit-filter:  hue-rotate(345.6deg);
    background-color: #bfff66;
    transform: translate(-3px, 6px) scale(1.06); }
  12% {
    -webkit-filter:  hue-rotate(25.2deg);
    background-color: #fa66ff;
    transform: translate(4px, -1px) scale(1.14); }
  13% {
    -webkit-filter:  hue-rotate(219.6deg);
    background-color: #ffb066;
    transform: translate(0px, 15px) scale(1.2); }
  14% {
    -webkit-filter:  hue-rotate(324deg) invert(1);
    background-color: #ffa866;
    transform: translate(-7px, -6px) scale(1.25); }
  15% {
    -webkit-filter:  saturate(7.75) hue-rotate(100.8deg);
    background-color: #c266ff;
    transform: translate(4px, 11px) scale(1.15); }
  16% {
    -webkit-filter:  hue-rotate(244.8deg);
    background-color: #ff66e3;
    transform: translate(14px, -6px) scale(1.14); }
  17% {
    -webkit-filter:  hue-rotate(273.6deg);
    background-color: #d6ff66;
    transform: translate(10px, -11px) scale(1.14); }
  18% {
    -webkit-filter:  hue-rotate(273.6deg);
    background-color: #f266ff;
    transform: translate(-14px, -10px) scale(1.12); }
  19% {
    -webkit-filter:  hue-rotate(97.2deg);
    background-color: #fff266;
    transform: translate(-7px, -6px) scale(1.19); }
  20% {
    -webkit-filter:  hue-rotate(302.4deg);
    background-color: #ff667a;
    transform: translate(3px, -6px) scale(1.24); }
  21% {
    -webkit-filter:  hue-rotate(43.2deg);
    background-color: #6682ff;
    transform: translate(-5px, -8px) scale(1.12); }
  22% {
    -webkit-filter:  hue-rotate(198deg);
    background-color: #ff6685;
    transform: translate(3px, -6px) scale(1.22); }
  25% {
    -webkit-filter:  saturate(3.79) hue-rotate(158.4deg);
    background-color: #66ff99;
    transform: translate(15px, -8px) scale(1.11); }
  26% {
    -webkit-filter:  hue-rotate(324deg);
    background-color: #66ffcf;
    transform: translate(-5px, -8px) scale(1.13); }
  27% {
    -webkit-filter:  hue-rotate(208.8deg) invert(1) brightness(60%);
    background-color: #ff6666;
    transform: translate(-9px, -7px) scale(1.17); }
  28% {
    -webkit-filter:  hue-rotate(90deg);
    background-color: #66ff8c;
    transform: translate(0px, -8px) scale(1.22); }
  29% {
    -webkit-filter:  hue-rotate(342deg);
    background-color: #66c4ff;
    transform: translate(-11px, 6px) scale(1.14); }
  30% {
    -webkit-filter:  hue-rotate(320.4deg);
    background-color: #8566ff;
    transform: translate(-8px, 3px) scale(1.09); }
  31% {
    -webkit-filter:  saturate(5.23) hue-rotate(100.8deg);
    background-color: #ff666e;
    transform: translate(-6px, 1px) scale(1.17); }
  32% {
    -webkit-filter:  hue-rotate(46.8deg);
    background-color: #66ffc9;
    transform: translate(-12px, 12px) scale(1.22); }
  34% {
    -webkit-filter:  hue-rotate(338.4deg);
    background-color: #66ff80;
    transform: translate(-10px, 7px) scale(1.12); }
  36% {
    -webkit-filter:  hue-rotate(295.2deg) contrast(9.19);
    background-color: #ff66c7;
    transform: translate(-12px, 11px) scale(1.25); }
  37% {
    -webkit-filter:  hue-rotate(32.4deg);
    background-color: #66ff82;
    transform: translate(-1px, -11px) scale(1.18); }
  38% {
    -webkit-filter:  saturate(9.01) hue-rotate(151.2deg);
    background-color: #69ff66;
    transform: translate(1px, -4px) scale(1.14); }
  39% {
    -webkit-filter:  hue-rotate(241.2deg);
    background-color: #9eff66;
    transform: translate(4px, 11px) scale(1.14); }
  40% {
    -webkit-filter:  hue-rotate(72deg);
    background-color: #66ffe0;
    transform: translate(-9px, -10px) scale(1.14); }
  44% {
    -webkit-filter:  hue-rotate(194.4deg);
    background-color: #d6ff66;
    transform: translate(-6px, -5px) scale(1.18); }
  45% {
    -webkit-filter:  hue-rotate(68.4deg);
    background-color: #73ff66;
    transform: translate(11px, 7px) scale(1.06); }
  46% {
    -webkit-filter:  hue-rotate(298.8deg);
    background-color: #ff66a8;
    transform: translate(15px, 3px) scale(1.07); }
  47% {
    -webkit-filter:  hue-rotate(32.4deg);
    background-color: #ffe866;
    transform: translate(9px, -4px) scale(1.17); }
  50% {
    -webkit-filter:  hue-rotate(97.2deg);
    background-color: #e8ff66;
    transform: translate(1px, -7px) scale(1.1); }
  52% {
    -webkit-filter:  hue-rotate(126deg);
    background-color: #66a6ff;
    transform: translate(-13px, 7px) scale(1.25); }
  53% {
    -webkit-filter:  hue-rotate(241.2deg);
    background-color: #66ccff;
    transform: translate(-10px, 11px) scale(1.14); }
  54% {
    -webkit-filter:  hue-rotate(61.2deg);
    background-color: #ffed66;
    transform: translate(4px, -3px) scale(1.19); }
  55% {
    -webkit-filter:  hue-rotate(313.2deg);
    background-color: #66ff85;
    transform: translate(9px, 15px) scale(1.07); }
  56% {
    -webkit-filter:  hue-rotate(226.8deg);
    background-color: #ff66b3;
    transform: translate(13px, 13px) scale(1.15); }
  57% {
    -webkit-filter:  hue-rotate(360deg);
    background-color: #cf66ff;
    transform: translate(-14px, 6px) scale(1.06); }
  58% {
    -webkit-filter:  hue-rotate(226.8deg);
    background-color: #66ffb8;
    transform: translate(9px, -7px) scale(1.21); }
  60% {
    -webkit-filter:  hue-rotate(75.6deg) contrast(1.9);
    background-color: #ff6685;
    transform: translate(-3px, -5px) scale(1.13); }
  63% {
    -webkit-filter:  hue-rotate(68.4deg);
    background-color: #9466ff;
    transform: translate(4px, 2px) scale(1.17); }
  64% {
    -webkit-filter:  hue-rotate(28.8deg);
    background-color: #fa66ff;
    transform: translate(-1px, 5px) scale(1.25); }
  66% {
    -webkit-filter:  hue-rotate(21.6deg);
    background-color: #ff9c66;
    transform: translate(-14px, 8px) scale(1.23); }
  67% {
    -webkit-filter:  hue-rotate(248.4deg);
    background-color: #66ffa3;
    transform: translate(-11px, -10px) scale(1.11); }
  72% {
    -webkit-filter:  hue-rotate(14.4deg) brightness(59%);
    background-color: #ff8266;
    transform: translate(-3px, -8px) scale(1.12); }
  74% {
    -webkit-filter:  hue-rotate(100.8deg);
    background-color: #ffd466;
    transform: translate(-6px, -12px) scale(1.16); }
  75% {
    -webkit-filter:  hue-rotate(194.4deg);
    background-color: #66ff7a;
    transform: translate(-2px, 10px) scale(1.2); }
  77% {
    -webkit-filter:  hue-rotate(165.6deg);
    background-color: #ff66bf;
    transform: translate(-8px, -3px) scale(1.24); }
  80% {
    -webkit-filter:  hue-rotate(320.4deg);
    background-color: #f566ff;
    transform: translate(-13px, 7px) scale(1.19); }
  81% {
    -webkit-filter:  saturate(7.21) hue-rotate(234deg);
    background-color: #80ff66;
    transform: translate(-2px, -11px) scale(1.06); }
  85% {
    -webkit-filter:  hue-rotate(298.8deg);
    background-color: #ff8766;
    transform: translate(11px, -10px) scale(1.19); }
  86% {
    -webkit-filter:  hue-rotate(316.8deg);
    background-color: #f066ff;
    transform: translate(1px, 9px) scale(1.15); }
  87% {
    -webkit-filter:  hue-rotate(198deg);
    background-color: #66f2ff;
    transform: translate(2px, -7px) scale(1.21); }
  88% {
    -webkit-filter:  hue-rotate(205.2deg) brightness(71.5%);
    background-color: #ff668a;
    transform: translate(-8px, 11px) scale(1.16); }
  89% {
    -webkit-filter:  hue-rotate(201.6deg);
    background-color: #66fff2;
    transform: translate(7px, -6px) scale(1.24); }
  90% {
    -webkit-filter:  saturate(1.72) hue-rotate(72deg) contrast(6.58);
    background-color: #ff8566;
    transform: translate(15px, 3px) scale(1.25); }
  91% {
    -webkit-filter:  hue-rotate(126deg) invert(1) contrast(3.52);
    background-color: #deff66;
    transform: translate(9px, -5px) scale(1.13); }
  92% {
    -webkit-filter:  hue-rotate(298.8deg);
    background-color: #7066ff;
    transform: translate(0px, 3px) scale(1.19); }
  93% {
    -webkit-filter:  hue-rotate(129.6deg);
    background-color: #66bdff;
    transform: translate(-4px, -14px) scale(1.11); }
  95% {
    -webkit-filter:  hue-rotate(111.6deg) contrast(5.86);
    background-color: #6675ff;
    transform: translate(-14px, 1px) scale(1.16); }
  97% {
    -webkit-filter:  hue-rotate(244.8deg);
    background-color: #baff66;
    transform: translate(7px, 11px) scale(1.21); }
  99% {
    -webkit-filter:  hue-rotate(172.8deg);
    background-color: #66ffd4;
    transform: translate(-9px, -12px) scale(1.24); }
  100% {
    -webkit-filter:  hue-rotate(190.8deg);
    background-color: #e866ff;
    transform: translate(0px, 15px) scale(1.12); } }
