@model Halloween.ViewModels.Displays.TextGlitchDisplay

@section styles {
<link href="~/css/displays/text-glitch-display.css" rel="stylesheet" type="text/css" />
}

<div id="wrapper">
    <canvas id="filler"></canvas>
    <canvas id="stage"></canvas>
</div>
@if (!string.IsNullOrEmpty(Model.AudioSource))
{
    <audio src="@Model.AudioSource" autoplay></audio>
}
@section scripts {
<script>
    var model = $.parseJSON('@Model.ToJson()');
</script>
<script src="~/js/displays/text-glitch-display.js"></script>
}
