@model Halloween.ViewModels.Displays.TextGlitchDisplay

@section styles {
<link href="~/css/displays/text-glitch-display.css" rel="stylesheet" type="text/css" />
}

<div id="wrapper">
    <canvas id="stage"></canvas>
</div>

@section scripts {
<script>
    var text = "@Model.Text";
</script>
<script src="~/js/displays/text-glitch-display.js"></script>
}
