@using Halloween.Extensions
@model Halloween.ViewModels.Displays.TextGlitchDisplay

@{
    var audioSource = Model.AudioSource.Split(',').GetRandomElement();
}

@section styles {
<link href="~/css/displays/text-glitch-display.css" rel="stylesheet" type="text/css" />
}

<div id="wrapper">
    <canvas id="filler"></canvas>
    <canvas id="stage"></canvas>
</div>
@if (!string.IsNullOrEmpty(audioSource))
{
    <audio src="@audioSource" autoplay></audio>
}
@section scripts {
<script>
    var model = $.parseJSON('@Model.ToJson()');
</script>
<script src="~/js/displays/text-glitch-display.js"></script>
}
