@using Halloween.Extensions
@model Halloween.ViewModels.Displays.TextWarpDisplay

@{
    var audioSource = Model.AudioSource.Split(',').GetRandomElement();
    var soundEffectAudioSource = Model.SoundEffectAudioSource.Split(',').GetRandomElement();
}

@section styles {
    <link href="~/css/displays/text-warp-display.css" rel="stylesheet" type="text/css" />
}

<div class='main'>
    <div class='head'>
        <h1>@Model.Text</h1>
    </div>
</div>
@if (!string.IsNullOrEmpty(audioSource))
{
    <audio src="@audioSource" autoplay></audio>
}
@if (!string.IsNullOrEmpty(soundEffectAudioSource))
{
    <audio id="sound-effect-audio-source" src="@soundEffectAudioSource"></audio>
}
@section scripts {
    <script>
    var model = $.parseJSON('@Model.ToJson()');
    </script>
    <script src="~/js/displays/text-warp-display.js"></script>
}
